@media screen and (max-width: 800px) {
.layui-laydate-range {
    width: 90%;
    left: 5%!important;
}
.layui-laydate-list > li, .layui-laydate-range .layui-laydate-main {
    display: block;
}

.layui-laydate-main {
    /*width: auto;*/
}



































}