<!-- <div style="clear: both; height:45px"></div> -->
<div id="pageContent" class="pageContent p">
    <div class="hc-warp" id="page">
        <!--可编辑区域开始-->
        <div id="content"> <!--可编辑区域开始-->
            <div style="width: auto; overflow: hidden; font-family: Verdana,Helvetica;algin:center;">
                <div style="border: 1px solid rgb(233, 234, 236); margin-bottom: 30px;">
                    <h2 style="height: 60px; line-height: 60px; border-bottom-color: rgb(233, 234, 236); border-bottom-width: 1px; border-bottom-style: solid;"><span
                            style="color: rgb(60, 60, 60); padding-top: 4px; padding-bottom: 4px; padding-left: 10px; font-size: 18px; font-weight: bold; border-left-color: rgb(242, 46, 0); border-left-width: 3px; border-left-style: solid;">{$article.doc_title}</span>
                    </h2>
                    
                    <div style="padding: 20px 30px 0px; color: rgb(60, 60, 60); font-size: 12px;">
                        {$article.doc_content|htmlspecialchars_decode}
                    </div>
                </div>
            </div>
            <!--可编辑区域结束-->
        </div>
        <!--可编辑区域结束-->
    </div>
</div>