{include file="public/header"/}
</head>

<body class="layui-layout-body">
	<div class="layui-layout layui-layout-admin">
		{include file="public/nav"/}
		{include file="public/left"/}


		<!-- 主体-->
		<div class="layui-body">
			<div class="container">
				<div class="my-tab mb15">
					<ul>
						<li class="on">{$cat.cat_name}</li>
						<li class="tag-box">
							<a href="{:U('home/goods/list',['id'=>$Think.get.id])}">
								<span class="item-tag mr10 {if condition='empty($Think.get.tag)'}on{/if}">全部</span>
							</a>
							{volist name="tags.goods_tag" id="vo"}
							<a href="{:U('home/goods/list',['id'=>$Think.get.id, 'tag'=>$key])}">
								<span class="item-tag mr10 {if condition='$Think.get.tag eq $key'}on{/if}">{$vo}</span>
							</a>
							{/volist}
						</li>
					</ul>
				</div>

				<div class="layui-container  goods-list">
					<!-- 内容区域 -->
					<div class="layui-row layui-col-space15">
						{volist name="rows" id="vo"}
						<div class="layui-col-xs6 layui-col-md3 goods-item">
							<div class="cat-box">
								<!-- 角标 -->
								{notempty name="$vo.icon_text"}<!-- <span class="icon_text">{$vo.icon_text}</span> -->{/notempty}
								<!-- 角标 -->
								<a href="{:U('home/goods/detail',['id'=>$vo.goods_id])}">
									<div class="img-box">
										<img src="__STATIC__/images{$vo.logo}">
									</div>
								</a>

								<a href="{:U('home/goods/detail',['id'=>$vo.goods_id])}">
									<div class="item-content">
										<h3>
											{notempty name="$vo.icon"}<span class="iconfont {$vo.icon}"></span>{/notempty}
											{$vo.goods_name}
										</h3>
										<p>{$vo.desc}</p>
										<span class="tag">{if condition="$vo.is_dl_count eq 1"}独立计数{else/}非独立计数{/if}</span>
										<span class="tag">{if condition="$vo.is_refund eq 1"}支持退款{else/}进行中不可退{/if}</span>

										<div class="price-desc">
											<div class="my-row">
												<span class="txt-info s-info">购买单价：</span>
												<span class="txt-cnt price">¥ {$vo.sale_price|fnum=0,4}/{$vo.unit|shortNum}个</span>
											</div>

											<div class="my-row">
												<span class="txt-info">最低下单量：</span>
												<span class="txt-cnt green">{if condition="$vo.min_num gt 0"}{$vo.min_num*$vo.unit|fnum=0,0|shortNum}个{else/}不限{/if}</span>
											</div>

											<div class="my-row">
												<span class="txt-info">最低购买价：</span>
												<span class="txt-cnt green">¥ {$vo.sale_price*$vo.min_num|fnum}</span>
											</div>

											<div class="my-row">
												<span class="txt-info">最大下单量：</span>
												<span class="txt-cnt green">{if condition="$vo.max_num gt 0"}{$vo.max_num|fnum=0,0}{else/}不限{/if}</span>
											</div>

										</div>



										<span class="layui-btn layui-btn-fluid">立即购买</span>
									</div>
								</a>
							</div>
						</div>

						{/volist}
					</div>
					<!-- 内容区域 -->

				</div>


			</div>
		</div>
		<!-- 主体END-->
		<script>
			$(function() {

			});


			layui.use(['form', 'layedit', 'laydate'], function() {
				var form = layui.form,
					layer = layui.layer,
					layedit = layui.layedit,
					laydate = layui.laydate;

				//日期时间选择器
				laydate.render({
					elem: '#stime',
					type: 'datetime',
					format: 'yyyy-MM-dd HH:mm'
				});

				//预估总价
				$("#task_num").bind("input propertychange", function() {
					var totalAmount = '';
					var price = $.trim($('#sale_price').val());
					var task_num = $.trim($(this).val());
					task_num = parseFloat(task_num);
					totalAmount = go.calcTotalAmount(task_num, price);
					$('.gs-price').text(totalAmount);
				})

			});

			function verifyForm() {
				var layerindex = layer.load(1); //加载层
				$.ajax({
					type: 'POST',
					url: "{:U('home/order/create', ['s'=>$Request.get.s])}",
					data: $('#myform').serialize(),
					dataType: 'json',
					success: function(result) {
						// console.log(result.status);
						layer.closeAll();

						if (result.error == 1) {
							go.errorTips(result.msg);
						} else {
							go.successTips(result.msg);
						}
					},
					error: function() {
						layer.closeAll();
						layer.alert("服务器繁忙, 请联系管理员!");
					}
				});
			}
		</script>


		{include file="public/footer"/}
	</div>
	<!--layui-layout END-->
</body>
</html>
