{include file="public/header"/}
</head>

<body class="layui-layout-body bg-gray">
	<div class="layui-layout layui-layout-admin">
		{include file="public/nav"/}
		{include file="public/left"/}


		<!-- 主体-->
		<div class="layui-body">
			<div class="container">
				<div class="layui-tab layui-tab-brief goods-box" lay-filter="docDemoTabBrief">
					<ul class="layui-tab-title">
						<li class="layui-this">{$cat.cat_name}</li>
					</ul>
					<div class="layui-tab-content">
						<div class="layui-tab-item layui-show">


							<!-- 内容区域 -->
							<form class="layui-form myform myform-card" method="post" action="" id="myform">
								<input type="hidden" name="goods_id" value="{$row.goods_id}">
								<input type="hidden" name="first" value="4">


								<!-- 面板 -->
								<div class="layui-col-md12">
									<div class="layui-card">
										<div class="layui-card-header">基本信息</div>
										<div class="layui-card-body">
											<div class="layui-form-item">
												<label class="layui-form-label">{$row.desc_url}</label>
												<div class="layui-input-block">
													<input type="text" name="url" value="" lay-verify="title" autocomplete="off" placeholder="请输入{$row.desc_url}"
													 class="layui-input">
												</div>
											</div>

											<div class="layui-form-item">
												<label class="layui-form-label">
													<span class="pc-tips">{$row.desc_first}</span>
													<span class="mobile-tips">速度设置：点击滑块某处设置速度，勿拖动</span>
												</label>
												<div class="layui-input-block">
													<div id="set-first-tool" class="demo-slider w100b"></div>
												</div>
											</div>


											<div class="layui-form-item">
												<label class="layui-form-label">任务量</label>
												<div class="layui-input-block">
													<input type="text" name="task_num" id="task_num" value="{$row.min_num*$row.unit|fnum=0,0}" placeholder="请输入播放任务量"
													 autocomplete="off" class="layui-input w180" onkeyup="go.filterNum(this)" sale_price="{$row.sale_price}"
													 min_num="{$row.min_num}">
													<span class="note">{$row.desc_task}，最低下单量为{$row.min_num|fnum=false,0}个</span>
												</div>
											</div>

											{//注意这里传递的是标签表的id}
											<div class="layui-form-item">
												<label class="layui-form-label">转发评论选项</label>
												<div class="layui-input-block">
													{volist name="tags.relay_type" id="vo"}
													<input type="radio" name="relay_type_id" class="relay_type_id" {if condition="$vo.label_id eq 3" }checked{/if}
													 value="{$vo.id}" title="{$vo.label_name}" tag="{$vo.tag}" lay-filter="relay_type_id">
													{/volist}
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- 面板 -->

								<!-- 面板 -->
								<div class="layui-col-md12 mt10">
									<div class="layui-card">
										<div class="layui-card-header">转评内容设置</div>
										<div class="layui-card-body">
											{//注意这里传递的是标签表的id}
											<div class="layui-form-item">
												<label class="layui-form-label">使用内容类型</label>
												<div class="layui-input-block">
													{volist name="tags.content_type" id="vo"}
													<input type="radio" name="content_type_id" class="content_type_id" {if condition="$vo.label_id eq 2"
													 }checked{/if} value="{$vo.id}" title="{$vo.label_name}" tag="{$vo.tag}" lay-filter="content_type_id"
													 data-id="{$vo.label_id}">
													{/volist}
												</div>
											</div>


											<div class="layui-form-item layui-form-text textarea-box">
												<label class="layui-form-label">输入内容</label>
												<div class="layui-input-block">
													<textarea placeholder="请输入内容,回车换行,一行为一条内容" name="appoint_content" class="layui-textarea appoint_content"></textarea>
													<span class="note">当前统计输入<b>0</b>行，内容中不能带链接；@符号会替换成空格。</span>
												</div>
											</div>


											{//注意这里传递的是标签表的id}
											<div class="layui-form-item">
												<label class="layui-form-label">内容使用方式</label>
												<div class="layui-input-block">
													{volist name="tags.content_get_type" id="vo"}
													<input type="radio" name="content_get_type_id" class="content_get_type_id" {if condition="$i eq 1"
													 }checked{/if} value="{$vo.id}" title="{$vo.label_name}" tag="{$vo.tag}" lay-filter="content_get_type_id">
													{/volist}
												</div>
											</div>

											<div class="layui-form-item">
												<label class="layui-form-label">备注</label>
												<div class="layui-input-block">
													<input type="text" name="user_note" value="" autocomplete="off" placeholder="填写备注(选填)" class="layui-input">
												</div>
											</div>


											<div class="layui-inline gs-price-box">
												<label class="layui-form-label">价格预计</label>
												<div class="layui-input-inline">
													<span class="gs-price">{$row.sale_price*$row.min_num|fnum}</span>
												</div>
											</div>


											<div class="layui-form-item mt20">
												<div class="layui-input-block">
													<a href="JavaScript:void(0);" onClick="verifyForm();" class="layui-btn">提交任务</a>
													<button class="hide" type="reset" class="layui-btn layui-btn-primary">重置</button>
												</div>
											</div>

											<div class="layui-form-item mt20">
												<div class="layui-input-block desc_info">
													<pre>{$row.desc_info}<br>客服QQ：{$shop_info.qq}</pre>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- 面板 -->






							</form>
							<!-- 内容区域 -->
						</div>
					</div>
				</div>


			</div>
		</div>
		<!-- 主体END-->
		<script>
			$(function() {



			});


			layui.use(['form', 'layedit', 'laydate', 'slider'], function() {
				var form = layui.form,
					layer = layui.layer,
					layedit = layui.layedit,
					slider = layui.slider,
					laydate = layui.laydate;

				//日期时间选择器
				laydate.render({
					elem: '#stime',
					type: 'datetime',
					format: 'yyyy-MM-dd HH:mm'
				});

				//设置最大最小值
				slider.render({
					elem: '#set-first-tool',
					value: 4 //初始值
						,
					min: 1 //最小值
						,
					max: 20 //最大值
						,
					step: 1 //步长
						,
					input: true //输入框
						,
					theme: '#47b3e3' //主题色
						,
					change: function(value) {
						// console.log(value) //动态获取滑块数值
						$('.myform input[name=first]').val(parseInt(value));
					},
					setTips: function(value) { //自定义提示文本
						return value + '个/分钟';
					}
				});

				//输入框值改变-预估总价
				$("#task_num").bind("input propertychange", function() {
					go.calcPrice();
				})

				//textarea值改变-提示输入条数
				$(".appoint_content").bind("input propertychange", function() {
					var rowNum = $(this).val().split("\n").length;
					$(this).closest('.textarea-box').find('.note b').text(rowNum);

					//同步修改任务量
					var task_num = rowNum;
					if (rowNum < 1) {
						task_num = 1;
					}
					// console.log(task_num);
					$("#task_num").val(task_num);
					//计算价格
					go.calcPrice();
				})

				//选中补粉选项-预估总价
				form.on('radio(relay_type_id)', function(data) {
					// console.log(data.elem); //得到radio原始DOM对象
					// console.log(data.value); //被点击的radio的value值
					go.calcPrice();
				});

				//点击使用内容类型-切换输入框显示
				form.on('radio(content_type_id)', function(data) {
					// console.log(data.elem); //得到radio原始DOM对象
					// console.log(data.value); //被点击的radio的value值
					var label_value = $(data.elem).attr('data-id');
					if (label_value == 2) {
						$('.textarea-box').removeClass('hide');
					} else {
						$('.textarea-box').addClass('hide');
					}
				});

			});


			//预估总价
			go.calcPrice = function() {
				var totalAmount = '';
				var price = $.trim($("#task_num").attr('sale_price'));
				var min_num = $.trim($("#task_num").attr('min_num'));
				var task_num = $.trim($("#task_num").val());
				//这里多引入一个补粉价格参数,补粉的话价格会高点
				var price_param = $('.relay_type_id:checked').attr('tag'); //价格参数,基础售价倍率
				if (price_param) {
					price_param = parseFloat($.trim(price_param));
					price = price * price_param;
				}

				task_num = parseFloat(task_num);


				//如果小于最低值
				min_num = parseFloat(min_num);
				if (task_num < min_num) {
					task_num = min_num;
				}

				totalAmount = go.calcTotalAmount(task_num, price);
				$('.gs-price').text(totalAmount);
			}


			function verifyForm() {
				var layerindex = layer.load(1); //加载层
				$.ajax({
					type: 'POST',
					url: "{:U('home/order/create')}",
					data: $('#myform').serialize(),
					dataType: 'json',
					success: function(result) {
						// console.log(result.status);
						layer.closeAll();
						if (result.error == 1) {
							go.errorTips(result.msg);
						} else {
							//重置内容
							$('.myform').find('button[type=reset]').click();
							// setTimeout(function(){location.reload();},1000);

							go.successTips(result.msg);

						}
					},
					error: function() {
						layer.closeAll();
						layer.alert("服务器繁忙, 请联系管理员!");
					}
				});
			}
		</script>


		{include file="public/footer"/}
	</div>
	<!--layui-layout END-->
</body>
</html>
