{include file="public/header"/}
<style type="text/css">
</style>
</head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
{include file="public/nav"/}
{include file="public/left"/}


<!-- 主体-->
<div class="layui-body">
    <div class="container">

        <div class="layui-form">
          <div class="layui-input-block order_sn list-fk">
                <span onclick="go.copyComment({$Think.get.id})" type="3" class="layui-btn ">复制评论</span>
          </div>
          <table class="layui-table  table-box-order">
            <colgroup>
              <col width="150">
              <col width="150">
              <col width="200">
              <col>
            </colgroup>
            <thead>
              <tr>
                <th>评论编号</th>
                <th>评论内容</th>
                <th>字数</th>
                <!-- <th>操作</th> -->
              </tr> 
            </thead>
            <tbody>
            {volist name="rows" id="vo"}
              <tr>
                <td>{$vo.commid}</td>
                <td>{$vo.cont}</td>
                <td>{$vo.cont|mb_strlen}</td>
                <!-- <td>
                    {if condition="$vo.status eq 0"}
                        <span class="opt-set" order_id="{$vo.order_id}" type="continue" onclick="go.setOrder(this)">审核通过</span>
                    {/if}
                </td> -->
              </tr>
            {/volist}
            </tbody>
          </table>
        </div>

    </div>
</div>
<!-- 主体END-->
<script>
$(function(){

});


layui.use(['form', 'layedit', 'laydate'], function(){
  var form = layui.form
  ,layer = layui.layer
  ,layedit = layui.layedit
  ,laydate = layui.laydate;
  
   //日期时间选择器
   laydate.render({
     elem: '#stime'
     ,type: 'datetime'
     ,format: 'yyyy-MM-dd HH:mm'
   });

    $('#task_num').keyup(function(){
        var totalAmount = '';
        var price = $.trim($('#sale_price').val());
        var task_num = $.trim($(this).val());
        task_num = parseInt(task_num);
        totalAmount = go.calcTotalAmount(task_num, price);
        $('.gs-price').text(totalAmount);
    });  
});

//设置订单
var params = {};
go.setOrder = function(dom){
    params.order_id = $(dom).attr('order_id');
    params.type = $(dom).attr('type');

    var noteText = $(dom).text();
    layer.confirm('确定要'+noteText+'操作吗?', function(){
        var layerindex = layer.load(1);//加载层
        $.ajax({
            type: 'POST',
            url: "{:U('home/order/setOrder')}",
            data: params,
            dataType: 'json',
            success: function(result){
                layer.closeAll();
                if (result.error == 1) {
                    go.errorTips(result.msg);
                } else {
                    go.successTips(result.msg);
                    setTimeout(function(){location.reload()}, 500);
                }
            },
            error: function(){
                layer.closeAll();
                layer.alert("服务器繁忙, 请联系管理员!");
            }
        });
    });

}
</script>


{include file="public/footer"/}
</div>
<!--layui-layout END-->
</body>
</html>