{include file="public/header"/}
</head>

<body class="layui-layout-body">
	<div class="layui-layout layui-layout-admin">
		{include file="public/nav"/}
		{include file="public/left"/}


		<!-- 主体-->
		<div class="layui-body">
			<div class="container">
				<div class="layui-tab layui-tab-brief goods-box" lay-filter="docDemoTabBrief">
					<ul class="layui-tab-title">
						<li class="layui-this">{$cat.cat_name}</li>
					</ul>
					<div class="layui-tab-content">
						<div class="layui-tab-item layui-show">
							<!-- 内容区域 -->
							<form class="layui-form myform tools-form" method="post" action="" id="myform">
								<input type="hidden" name="goods_id" value="{$row.goods_id}">
								<input type="hidden" name="cat_id" value="{$row.cat_id}">
								<input type="hidden" name="price" id="sale_price" value="{$row.sale_price}">

								<div class="layui-form-item">
									<label class="layui-form-label">任务标题</label>
									<div class="layui-input-block">
										<input type="text" required name="cm_title" id="cm_title" value="" lay-verify="title" autocomplete="off" placeholder="请填写任务标题"
										 class="layui-input">
									</div>
								</div>

								<div class="layui-form-item">
									<label class="layui-form-label">任务地址</label>
									<div class="layui-input-block">
										<input type="text" name="url" id="url" value="" lay-verify="title" autocomplete="off" placeholder="{$row.desc_url}"
										 class="layui-input">
									</div>
								</div>

								<div class="layui-form-item layui-form-text textarea-box">
									<label class="layui-form-label">任务要求</label>
									<div class="layui-input-block">
										<textarea placeholder="例如：好好写，否则罚款" name="user_note" id="user_note" class="layui-textarea h50"></textarea>
									</div>
								</div>

								<div class="layui-form-item task_type">
									<label class="layui-form-label">任务类型</label>
									<div class="layui-input-block">
										<input type="checkbox" name="pingLun" lay-skin="primary" value="1" title="人工评论" checked>
										<input type="checkbox" name="zhuanFa" lay-skin="primary" value="1" title="人工转发">
									</div>
								</div>

								<div class="layui-form-item layui-form-text textarea-box">
									<label class="layui-form-label">评论内容</label>
									<div class="layui-input-block">
										<textarea placeholder="请输入评论内容,回车换行,一行为一条内容" name="sendValue" class="layui-textarea appoint_content"></textarea>
										<span class="note">当前统计输入<b>0</b>行</span>
									</div>
								</div>

								<div class="layui-form-item">
									<label class="layui-form-label">下单数量</label>
									<div class="layui-input-block">
										<input type="text" name="cm_max" id="task_num" value="{$row.min_num|fnum=0,0}"
										 autocomplete="off" class="layui-input w180" onkeyup="go.filterNum(this)">
										 <span class="note">设置下单数量</span>
									</div>
								</div>

								<div class="layui-form-item">
									<label class="layui-form-label">设置单价</label>
									<div class="layui-input-block">
										<input type="text" name="cm_price" id="set_price" value="{$row.sale_price|fnum}"
										 autocomplete="off" class="layui-input w180" onkeyup="go.filterNum(this)">
										<span class="note">每条评论的最低单价(元)</span>
									</div>
								</div>

								<div class="layui-inline gs-price-box">
									<label class="layui-form-label">价格预计</label>
									<div class="layui-input-inline">
										<span class="gs-price">{$row.sale_price*$row.min_num|fnum}</span>
									</div>
								</div>


								<div class="layui-form-item mt20">
									<div class="layui-input-block">
										<a href="JavaScript:void(0);" onClick="verifyForm();" class="layui-btn">提交任务</a>
										<button class="hide" type="reset" class="layui-btn layui-btn-primary">重置</button>
									</div>
								</div>

								<div class="layui-form-item mt20">
									<div class="layui-input-block desc_info">
										<pre>{$row.desc_info}</pre>
									</div>
								</div>

							</form>
							<!-- 内容区域 -->
						</div>
					</div>
				</div>


			</div>
		</div>
		<!-- 主体END-->
		<script>
			$(function() {

			});


			layui.use(['form', 'layedit', 'laydate'], function() {
				var form = layui.form,
					layer = layui.layer,
					layedit = layui.layedit,
					laydate = layui.laydate;

				//预估总价
				$("#task_num, #set_price").bind("input propertychange", function() {
					var totalAmount = '';
					var price = $.trim($('#set_price').val());
					var task_num = $.trim($('#task_num').val());
					task_num = parseFloat(task_num);
					totalAmount = go.calcTotalAmount(task_num, price);
					$('.gs-price').text(totalAmount);
				})

				//textarea值改变-提示输入条数
				$(".appoint_content").bind("input propertychange", function() {
					var rowNum = $(this).val().split("\n").length;
					$(this).closest('.textarea-box').find('.note b').text(rowNum);
				})


				//选择任务类型
				form.on('checkbox', function(data) {
					// console.log(data.elem); //得到radio原始DOM对象
					//console.log(data.elem.checked); //是否被选中，true或者false
					// console.log(data.value); //被点击的radio的value值

					var params = {};
					params.goods_id = $('input[name=goods_id]').val()
					$('input[type="checkbox"]').each(function (i, o) {
				        if ($(this).is(':checked')) {
				        	var inputName = $(this).attr('name');
				        	params[inputName] = $(this).val();
				        }
				    });

					//异步计算组合价格
					var layerindex = layer.load(1); //加载层
					$.ajax({
						type: 'POST',
						url: "{:U('home/tools/getComSetMinPrice')}",
						data: params,
						dataType: 'json',
						success: function(result) {
							layer.closeAll();

							if (result.error == 1) {
								layer.msg(result.msg);
							} else {
								//动态改变设置最低单价
								$('#set_price').val(result.data);

								//重新计算预计价格
								var totalAmount = '';
								var price = $.trim($('#set_price').val());
								var task_num = $.trim($('#task_num').val());
								task_num = parseFloat(task_num);
								totalAmount = go.calcTotalAmount(task_num, price);
								$('.gs-price').text(totalAmount);
							}
						},
						error: function() {
							layer.closeAll();
							layer.alert("服务器繁忙, 请联系管理员!");
						}
					});







					var label_value = $(data.elem).attr('data-id');
					
				});

			});

			function verifyForm() {
				var cm_title   = $('#cm_title').val();
				var url        = $('#url').val();
				var user_note  = $('#user_note').val();

				if (!cm_title) {
					go.errorTips('任务标题不能为空');
					return;
				}
				if (!url) {
					go.errorTips('任务地址不能为空');
					return;
				}
				if (!user_note) {
					go.errorTips('任务要求不能为空');
					return;
				}

				var layerindex = layer.load(1); //加载层
				$.ajax({
					type: 'POST',
					url: "{:U('home/tools/createOrder', ['s'=>$Request.get.s])}",
					data: $('#myform').serialize(),
					dataType: 'json',
					success: function(result) {
						// console.log(result.status);
						layer.closeAll();

						if (result.error == 1) {
							go.errorTips(result.msg);
						} else {
							go.successTips(result.msg);
							
							go.pushMessageOrder({order_id:result.data.order_id});//下单提醒
                            setTimeout(function(){location.reload()}, 2000);
						}
					},
					error: function() {
						layer.closeAll();
						layer.alert("服务器繁忙, 请联系管理员!");
					}
				});
			}
		</script>


		{include file="public/footer"/}
	</div>
	<!--layui-layout END-->
</body>
</html>
