<div class="page-content">

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="alert alert-block alert-success">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="ace-icon fa fa-times"></i>
                </button>
                <!-- <i class="ace-icon fa fa-check green"></i> -->
                Welcome！以下是运营概览
                <strong class="green"></strong>

            </div>


            <div class="row manage-stat">
                <div class="space-6"></div>

                <div><h2>今日统计：</h2></div>    
                <div class="col-sm-9 infobox-container">

                    <div class="infobox infobox-pink">
                        <div class="infobox-icon">
                            <span class="iconfont icon-xiaofeijilu"></span>
                        </div>

                        <div class="infobox-data">
                            <span class="infobox-data-number" num="{$data.today_total_amount}">{$data.today_total_amount}</span>
                            <div class="infobox-content">销售额</div>
                        </div>
                        <div class="stat stat-important hide">x%</div>
                    </div>

                    <div class="infobox infobox-pink">
                        <div class="infobox-icon">
                            <span class="iconfont icon-cost"></span>
                        </div>

                        <div class="infobox-data">
                            <span class="infobox-data-number" num="{$data.today_total_cost}">{$data.today_total_cost}</span>
                            <div class="infobox-content">成本</div>
                        </div>
                        <div class="stat stat-important hide">x%</div>
                    </div>

                    <div class="infobox infobox-pink">
                        <div class="infobox-icon">
                            <span class="iconfont icon-ai-profit"></span>
                        </div>

                        <div class="infobox-data">
                            <span class="infobox-data-number" num="{$data.today_profit}">{$data.today_profit}</span>
                            <div class="infobox-content">利润</div>
                        </div>
                        <div class="stat stat-important hide">x%</div>
                    </div>

                    <div class="infobox infobox-pink">
                        <div class="infobox-icon">
                            <span class="iconfont icon-Order"></span>
                        </div>

                        <div class="infobox-data">
                            <span class="infobox-data-number" num="{$data.today_order_num}">{$data.today_order_num}</span>
                            <div class="infobox-content">新增订单</div>
                        </div>
                        <div class="stat stat-important hide">x%</div>
                    </div>


                    <div class="infobox infobox-pink">
                        <div class="infobox-icon">
                            <span class="iconfont icon-user"></span>
                        </div>

                        <div class="infobox-data">
                            <span class="infobox-data-number" num="{$data.today_user}">{$data.today_user}</span>
                            <div class="infobox-content">新注册会员</div>
                        </div>
                        <div class="stat stat-important hide">x%</div>
                    </div>

                    <div class="infobox infobox-pink">
                        <div class="infobox-icon">
                            <span class="iconfont icon-denglu"></span>
                        </div>

                        <div class="infobox-data">
                            <span class="infobox-data-number" num="{$data.today_user_login}">{$data.today_user_login}</span>
                            <div class="infobox-content">今日登录过</div>
                        </div>
                        <div class="stat stat-important hide">x%</div>
                    </div>











                    <div class="infobox infobox-green hide">
                        <div class="infobox-icon">
                            <i class="ace-icon fa fa-comments"></i>
                        </div>

                        <div class="infobox-data">
                            <span class="infobox-data-number">32</span>
                            <div class="infobox-content">comments</div>
                        </div>

                        <div class="stat stat-success">8%</div>
                    </div>

                    <div class="infobox infobox-blue hide">
                        <div class="infobox-icon">
                            <i class="ace-icon fa fa-twitter"></i>
                        </div>

                        <div class="infobox-data">
                            <span class="infobox-data-number">11</span>
                            <div class="infobox-content">new followers</div>
                        </div>

                        <div class="badge badge-success">
                            +32%
                            <i class="ace-icon fa fa-arrow-up"></i>
                        </div>
                    </div>

                    <div class="infobox infobox-red hide">
                        <div class="infobox-icon">
                            <i class="ace-icon fa fa-flask"></i>
                        </div>

                        <div class="infobox-data">
                            <span class="infobox-data-number">7</span>
                            <div class="infobox-content">experiments</div>
                        </div>
                    </div>

                    <div class="infobox infobox-orange2 hide">
                        <div class="infobox-chart">
                            <span class="sparkline" data-values="196,128,202,177,154,94,100,170,224"></span>
                        </div>

                        <div class="infobox-data">
                            <span class="infobox-data-number">6,251</span>
                            <div class="infobox-content">pageviews</div>
                        </div>

                        <div class="badge badge-success">
                            7.2%
                            <i class="ace-icon fa fa-arrow-up"></i>
                        </div>
                    </div>

                    <div class="infobox infobox-blue2 hide">
                        <div class="infobox-progress">
                            <div class="easy-pie-chart percentage" data-percent="42" data-size="46">
                                <span class="percent">42</span>%
                            </div>
                        </div>

                        <div class="infobox-data">
                            <span class="infobox-text">traffic used</span>

                            <div class="infobox-content">
                                <span class="bigger-110">~</span>
                                58GB remaining
                            </div>
                        </div>
                    </div>
                </div><!-- /.widget-box -->
                <!-- 今日统计END -->

                <div class="clear"></div>


                <!-- 本月统计-s -->
                <div>
                    <h2>本月统计：</h2>

                    <form class="form-inline mb10"  method="post" action="{:U('Admin/Index/index')}">
                        <div class="sdiv">
                            <div class="row">
                                <div class="col-xs-8 col-sm-2">
                                    <div class="input-group w100b">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar bigger-110"></i>
                                        </span>
                                        <input type="text" class="form-control" value="{$Think.post.stime}" name="stime" id="date-range-picker" placeholder=" - ">
                                    </div>
                                </div>
                                <input type="submit" class="btn btn-primary btn-sm" value="搜索">
                            </div>
                        </div>
                    </form>
                </div>    
                <div class="col-sm-19 infobox-container">

                    <div class="infobox infobox-pink">
                        <div class="infobox-icon">
                            <span class="iconfont icon-xiaofeijilu"></span>
                        </div>

                        <div class="infobox-data">
                            <span class="infobox-data-number" num="{$data.cmonth_total_amount}">{$data.cmonth_total_amount}</span>
                            <div class="infobox-content">销售额</div>
                        </div>
                        <div class="stat stat-important hide">x%</div>
                    </div>

                    <div class="infobox infobox-pink">
                        <div class="infobox-icon">
                            <span class="iconfont icon-cost"></span>
                        </div>

                        <div class="infobox-data">
                            <span class="infobox-data-number" num="{$data.cmonth_total_cost}">{$data.cmonth_total_cost}</span>
                            <div class="infobox-content">成本</div>
                        </div>
                        <div class="stat stat-important hide">x%</div>
                    </div>

                    <div class="infobox infobox-pink">
                        <div class="infobox-icon">
                            <span class="iconfont icon-ai-profit"></span>
                        </div>

                        <div class="infobox-data">
                            <span class="infobox-data-number" num="{$data.cmonth_profit}">{$data.cmonth_profit}</span>
                            <div class="infobox-content">利润</div>
                        </div>
                        <div class="stat stat-important hide">x%</div>
                    </div>

                    <div class="infobox infobox-pink">
                        <div class="infobox-icon">
                            <span class="iconfont icon-Order"></span>
                        </div>

                        <div class="infobox-data">
                            <span class="infobox-data-number" num="{$data.cmonth_order_num}">{$data.cmonth_order_num}</span>
                            <div class="infobox-content">新增订单</div>
                        </div>
                        <div class="stat stat-important hide">x%</div>
                    </div>


                    <div class="infobox infobox-pink">
                        <div class="infobox-icon">
                            <span class="iconfont icon-user"></span>
                        </div>

                        <div class="infobox-data">
                            <span class="infobox-data-number" num="{$data.cmonth_user}">{$data.cmonth_user}</span>
                            <div class="infobox-content">新注册会员</div>
                        </div>
                        <div class="stat stat-important hide">x%</div>
                    </div>

                    <div class="infobox infobox-pink">
                        <div class="infobox-icon">
                            <span class="iconfont icon-denglu"></span>
                        </div>

                        <div class="infobox-data">
                            <span class="infobox-data-number" num="{$data.cmonth_user_login}">{$data.cmonth_user_login}</span>
                            <div class="infobox-content">本月登录过</div>
                        </div>
                        <div class="stat stat-important hide">x%</div>
                    </div>

                </div><!-- /.widget-box -->
                <!-- 本月统计END -->



                <!-- 其他统计-s -->
                <div>
                    <h2>其他统计：</h2>
                </div>    
                <div class="col-sm-19 infobox-container">

                    {volist name="$data.suppliersList" id="vo"}
                    <div class="infobox infobox-pink">
                        <div class="infobox-icon">
                            <span class="iconfont icon-xiaofeijilu"></span>
                        </div>

                        <div class="infobox-data">
                            <span class="infobox-data-number" num="{$data.money}">{$vo.money}</span>
                            <div class="infobox-content">余额({$vo.supplier_name})</div>
                        </div>
                        <div class="stat stat-important hide">x%</div>
                    </div>
                    {/volist}

                    <div class="infobox infobox-pink">
                        <div class="infobox-icon">
                            <span class="iconfont icon-cost"></span>
                        </div>

                        <div class="infobox-data">
                            <span class="infobox-data-number" num="{$data.importantOrdersNum}">
                                <a href="{:U('order/list', ['order_status'=>$data.importantOrdersStatus])}">
                                {$data.importantOrdersNum}
                                </a>
                            </span>
                            <div class="infobox-content">异常订单</div>
                        </div>
                        <div class="stat stat-important hide">x%</div>
                    </div>

                    <!-- 手工单 -->
                    <div class="infobox infobox-pink">
                        <div class="infobox-icon">
                            <span class="iconfont icon-cost"></span>
                        </div>

                        <div class="infobox-data">
                            <span class="infobox-data-number" num="{$data.notAutoOrdersNum}">
                                <a href="{:U('order/list', ['order_status'=>$data.notAutoOrdersStatus])}">
                                {$data.notAutoOrdersNum}
                                </a>
                            </span>
                            <div class="infobox-content">手工单</div>
                        </div>
                        <div class="stat stat-important hide">x%</div>
                    </div>
                    <!-- 手工单 -->

                    <!-- 用户充值 -->
                    <div class="infobox infobox-pink">
                        <div class="infobox-icon">
                            <span class="iconfont icon-cost"></span>
                        </div>

                        <div class="infobox-data">
                            <span class="infobox-data-number" num="{$data.rechargeNotDoNum}">
                                <a href="{:U('user/user_account_log', ['state'=>0, 'type'=>2])}">
                                {$data.rechargeNotDoNum}
                                </a>
                            </span>
                            <div class="infobox-content">充值提醒</div>
                        </div>
                    </div>
                    <!-- 用户充值 -->

                    <!-- 用户反馈-未处理 -->
                    <div class="infobox infobox-pink">
                        <div class="infobox-icon">
                            <span class="iconfont icon-pinglun"></span>
                        </div>

                        <div class="infobox-data">
                            <span class="infobox-data-number" num="{$data.rechargeNotDoNum}">
                                <a href="{:U('Feedback/index', ['state'=>2])}">
                                {$data.feedbackNotDoNum}
                                </a>
                            </span>
                            <div class="infobox-content">待处理反馈</div>
                        </div>
                    </div>
                    <!-- 用户反馈-未处理 -->


                </div><!-- /.widget-box -->
                <!-- 其他统计-END -->


            </div><!-- /.col -->
        </div><!-- /.row -->
        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
<script type="text/javascript">
$(function(){
    //日期范围
    layui.laydate.render({
        elem: '#date-range-picker'
        ,format:'yyyy/MM/dd'
        ,range: true
    });

    //小于零数字不高亮显示
    $('.infobox-data-number[num=0]').addClass('gray');
});

</script>