<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="content-language" content="zh-cn"/>
    <meta name="renderer" content="webkit|ie-comp|ie-stand"/>
    <meta http-equiv="Cache-control" content="public" max-age="no-cache"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="__STATIC__/layui/css/layui.css"  media="all">
    <!-- 在线 -->
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_753956_8aqie1k9u8t.css" />
    <!-- <link rel="stylesheet" type="text/css" href="__STATIC__/font/iconfont.css" /> -->
    <link rel="stylesheet" href="__STATIC__/css/global.css?v={$Think.config.app_version}"  media="all">
    <link rel="stylesheet" href="__STATIC__/css/global_mobile.css?v={$Think.config.app_version}"  media="all">
    <title>个人中心</title>
    <script src="__STATIC__/js/jquery-1.9.1-min.js" type="text/javascript" charset="utf-8"></script>
    <script src="__STATIC__/layui/layui.all.js" charset="utf-8"></script>
    <script src="__STATIC__/layui/layui.js" charset="utf-8"></script>
    <script src="__STATIC__/js/global.js?v={$Think.config.app_version}"></script>