<div class="layui-side layui-bg-black">
  <div class="layui-side-scroll">
    <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
    <ul class="layui-nav layui-nav-tree"  lay-filter="test">
      <li class="layui-nav-item layui-nav-itemed">
        <a class="" href="javascript:;">所有商品</a>
        <dl class="layui-nav-child">
          <dd class="<if condition='$Request.action eq "weibo"'>layui-this</if>"><a href="{:U('Home/goods/weibo')}"><span class="iconfont icon-weibo"></span>微博</a></dd>
          <dd><a href="javascript:;"><span class="iconfont icon-gongzhonghao"></span>微信</a></dd>
        </dl>
      </li>

      <li class="layui-nav-item"><a href="">云市场</a></li>
    </ul>
  </div>
</div>