@media screen and (max-width: 800px) {
.layui-layout-admin .layui-header .layui-nav {
    display: none;
}
.nav-pc{
    display: none;
}
.layui-container {
    padding: 0;
}
.mobile-menu {
    display: block;
    position: absolute;
    right: 15px;
    width: 35px;
    height: 35px;
    /*background-color: #fff;*/
    top: 10px;
    text-align: center;
    line-height: 35px;
    color: #fff;
    cursor: pointer;
}

.cat-box .img-box {
    width: 70%;
}
.mobile-menu .iconfont{
    font-size: 37px;
}

.left-box {
    display: none;
    right: 0;
    left: auto;
    bottom: auto;
}
.left-box .layui-side-scroll {
    height: auto;
}
.layui-body {
    left: 0;
    overflow: auto;
}

.layui-layout-admin .layui-footer {
    left: 0;
}

.userinfo dl dt {
    width: 50%;
    margin-right: 0; 
}

.userinfo {
    padding: 15px 0;
}
.layui-layout-admin .layui-body {
    bottom: auto;
    position: relative;
    top: auto;
}
.userinfo.platinfo dl dt span.cz-box {
    width: auto;
}
.userinfo.platinfo dl dt {
    width: 50%;
    margin-right: 0; 
}
.table-box-order {
    min-width: 800px;
}
.table-box-log {
    min-width: 600px;
}

.goods-box .layui-input-block {
    margin-left: 0;
}
.goods-box .layui-form {
    width: 100%;
}
.goods-box .layui-form-label {
    width: 100%;
    float: none;
    text-align: left;
    padding: 9px 0;
}
.goods-box .mb15 {
    display: block;
}
.goods-box .layui-form-item .layui-input-inline {
    margin: 0 0 10px 0;
}
 .container .goods-box input[type="text"] {
    width: 100%;
}
.goods-box .layui-inline.gs-price-box {
    display: inline-block;
    width: 100%;
}
.goods-box .layui-inline.gs-price-box .layui-form-label {
    display: inline-block;
    width: auto;
    vertical-align: bottom;
    margin-right: 10px;
}
#set-first-tool{
    width: 100%;
}
.mobile-tips{display: inline;}
.pc-tips{display: none;}


.goods-sub-tab.sub-tab ul {
/*    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;*/
}
.goods-sub-tab.sub-tab ul li {
    min-width: 120px;
}
.cat-box .item-content {
    padding: 6px 8px 15px;
    min-height: 290px;
    overflow: hidden;
}
.cat-box .item-content h3 .iconfont {
    margin-right: 0px;
}

.cat-box .item-content .tag {
    margin-bottom: 4px;
}
.container {
    padding: 15px 10px 100px 10px;
}
.cat-box .item-content .price-desc .my-row .txt-info.s-info{
    letter-spacing: 0;
}
.cat-box .item-content .price-desc {
    padding: 5px 0 5px 5px;
}

.cat-box .item-content .tag {
    font-size: 12px;
    margin-right: 1px;
    padding: 0 3px;
    letter-spacing: -1px;
}
.cat-box .item-content h3 {
    font-size: 15px;
}

.cat-box .item-content h3 {
    margin-top: 4px;
}





























}

/*最大屏宽400*/
@media screen and (max-width: 400px) {
.cat-box .item-content {
    min-height: 312px;
}

.cat-box .item-content {
    padding: 6px 8px 6px;
}

.cat-box .item-content {
    min-height: 330px;
}






}

/*最大屏宽320*/
@media screen and (max-width: 350px) {
.cat-box .item-content h3 {
    font-size: 14px;
}

.cat-box .item-content .price-desc .my-row {
    letter-spacing: -1px;
    font-size: 12px;
}




}