@media screen and (max-width: 800px) {
/*登录弹框*/
.login-body .layui-layer {
    width: 95%!important;
    padding: 0!important;
    box-shadow: none;
}

.fnlogin .line .linel {
    display: none;
}
.fnlogin .line .liner {
    float: none;
    padding: 0 15px;
}
.login-body .fnlogin .input-box {
    padding-left: 0px;
}
.login-body .fnlogin .inp {
    width: 95%;
}
.login-body .fnlogin .inp.imgcode {
    width: 50%;
}

.login_form .reg-tips {
    text-align: right;
    right: 10px;
    top: auto;
    bottom: -20px;
}

/*注册弹框*/
.ui_tab_content .reg-tips {
    right: 18px;
    top: auto;
    bottom: -10px;
}
.fnlogin {
    padding-left: 0;
}
.fnlogin .regbtn {
    margin: 20px auto 10px auto;
    width: 95%;
}

















}