{include file="public/header"/}
</head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
{include file="public/nav"/}
{include file="public/left"/}


<!-- 主体-->
<div class="layui-body">
    <div class="container userinfo platinfo">
        <dl>
            <dd>客服QQ：</dd>
            <dt><span>{$shop_info.qq}</span></dt>
        </dl>

        <dl>
            <dd>支付宝账号：</dd>
            <dt><span>tongzi818@163.com</span></dt>
        </dl>
        <dl>
            <dd>收款人：</dd>
            <dt><span>郑子同</span></dt>
        </dl>

        <dl>
            <dd>支付宝扫码付：</dd>
            <dt>
                <span class="cz-box">
                    <img src="__STATIC__/images/alipay.png">
                    <em class="note">提示：充值成功后请联系客服</em>
                </span>
            </dt>
        </dl>


        <dl class="mt20">
            <dd>支付订单号：</dd>
            <dt>
                <div class="layui-input-block order_sn">
                  <input type="text" name="order_sn" value="" autocomplete="off" placeholder="请填写您支付成功的支付宝订单号凭证" class="layui-input">
                  <a href="JavaScript:void(0);" onclick="payOrderSubmit()" class="layui-btn mt10">提交支付凭证</a>
                </div>
            </dt>
        </dl>

    </div>
</div>
<!-- 主体END-->
<script type="text/javascript">
function payOrderSubmit(){
    var order_sn = $.trim($('.order_sn input[name=order_sn]').val());

    if(order_sn == ''){
        go.errorTips('支付订单号不能为空');
        return false;
    }
    var layerindex = layer.load(1);
    $.ajax({
        type : 'POST',
        url : "{:U('Home/user/save_pay_order')}",
        data : {order_sn:order_sn},
        dataType : 'json',
        success : function(res){
            layer.close(layerindex);
            if(res.error == 1){
                go.errorTips(res.msg);
            }else{
                go.successTips(res.msg);
            }
        },
        error : function(XMLHttpRequest, textStatus, errorThrown) {
            layer.close(layerindex);
            go.errorTips('网络失败，请刷新页面后重试');
        }
    })
}

</script>





{include file="public/footer"/}
</div>
<!--layui-layout END-->
</body>
</html>