{include file="public/header"/}
</head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
{include file="public/nav"/}
{include file="public/left"/}


<!-- 主体-->
<div class="layui-body">
    <div class="container userinfo platinfo">
        <dl>
            <dd>客服QQ：</dd>
            <dt><span>{$shop_info.qq}</span></dt>
        </dl>

        <dl>
            <dd>支付宝账号：</dd>
            <dt><span>tongzi818@163.com</span></dt>
        </dl>
        <dl>
            <dd>收款人：</dd>
            <dt><span>郑子同</span></dt>
        </dl>

        <dl>
            <dd>支付宝扫码付：</dd>
            <dt>
                <span class="cz-box">
                    <img src="__STATIC__/images/alipay.png">
                    <em class="note">提示：充值成功后请联系客服</em>
                </span>
            </dt>
        </dl>
    </div>
</div>
<!-- 主体END-->


{include file="public/footer"/}
</div>
<!--layui-layout END-->
</body>
</html>