<include file="public/header"/>
<link rel="stylesheet" href="__STATIC__/css/user_reg.css?v={$Think.config.app_version}"  media="all">
<script src="__STATIC__/js/md5.min.js?v={$Think.config.app_version}"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
<include file="public/nav"/>

<!-- 主体-->
<div class="layui-body">
    <div style="padding: 15px;"></div>
</div>
<!-- 主体END-->

<script>
$(function(){
    go.login();
});
</script>
</div>
<!--layui-layout END-->
</body>
</html>