<include file="public/header"/>
<link rel="stylesheet" href="__STATIC__/css/user_reg.css?v={$Think.config.app_version}"  media="all">
<link rel="stylesheet" href="__STATIC__/css/user_reg_mobile.css?v={$Think.config.app_version}"  media="all">
<script src="__STATIC__/js/md5.min.js?v={$Think.config.app_version}"></script>
<style type="text/css">
    .left-box{
        display: none;
    }
</style>
</head>
<body class="layui-layout-body login-body">
<div class="layui-layout layui-layout-admin">
<include file="public/nav"/>
<include file="public/left"/>

<!-- 主体-->
<div class="layui-body">
    <div style="padding: 15px;"></div>
</div>
<!-- 主体END-->

<script>
$(function(){
    go.login();
});
</script>
<include file="public/footer"/>
</div>
<!--layui-layout END-->
</body>
</html>