<div class="login_form">
    <div class="reg-tips">
        <span>还没有平台账号？</span>
        <button type="button" class="layui-btn layui-btn-xs layui-btn-primary" onclick="go.reg()">
        马上注册
        </button>
    </div>

    <div class="lo_intext">
        <div class="layel1">
            <span>账户登录</span>
        </div>
        <form id="loginform" method="post">
            <input type="hidden" name="referurl" id="referurl" value="{$referurl}">
            <div class="layel2 fnlogin clearfix">
                <div class="input-box">
                    <div class="line">
                        <label class="linel"><span class="dt">账户名称：</span></label>
                        <div class="liner">
                            <input type="text" autofocus="autofocus" class="inp fmobile J_cellphone" value="" placeholder="手机号/邮箱" name="username" id="username" autocomplete="off">
                        </div>
                    </div>

                    <div class="line">
                        <label class="linel"><span class="dt">输入密码：</span></label>
                        <div class="liner">
                            <input type="password" class="inp fpass J_password" value="" placeholder="密码" name="password" id="password" autocomplete="off">
                        </div>
                    </div>


                    <div class="line">
                        <label class="linel"><span class="dt">图像验证码：</span></label>
                        <div class="liner">
                            <input type="text" class="inp imgcode J_imgcode" placeholder="图像验证码"  name="verify_code" id="verify_code" required=""/>
                            <img width="100" height="35" src="/index.php?m=Home&c=User&a=verify" id="verify_code_img" class="po-ab to0" onclick="verify()"/>

                        </div>
                        <div id="show-voice" class="show-voice"></div>
                    </div>

                    <div class="clear"></div>
                    <div class="sum_reme_for p">
                        <div class="foget_pwt hide">
                            <a href="{:U('Home/User/forget_pwd')}">忘记密码？</a>
                        </div>
                    </div>
                </div>


                <div class="login_bnt">
                    <a href="javascript:void(0);" onClick="checkSubmit();" class="J-login-submit" name="sbtbutton">登&nbsp;&nbsp;&nbsp;&nbsp;录</a>
                </div>
                <div class="error-box">
                    <p class="error-tips" style="display: none;"></p>
                    <p class="success-tips"  style="display: none;">登录成功！</p>
                </div>
            </div>
        </form>
        <div class="layel3 hide">
            <div class="contactsty">
                <div class="tecant_c">
                    <ul>
                        <tpshop sql="select * from __PREFIX__plugin where type='login' AND status = 1 order by code desc" item="v" key="k">
                            <if condition="$v['code'] eq 'weixin'">
                                <li>
                                    <a class="justclix" href="{:U('LoginApi/login',array('oauth'=>'weixin'))}" title="weixin">
                                        <i class="judgp co_wechat"></i>
                                        <span>微信</span>
                                    </a>
                                </li>
                                <li class="spacer"></li>
                            </if>
                            <if condition="$v['code'] eq 'qq'">
                                <li>
                                    <a class="justclix" href="{:U('LoginApi/login',array('oauth'=>'qq'))}" title="QQ">
                                        <i class="judgp co_qq"></i>
                                        <span>QQ</span>
                                    </a>
                                </li>
                                <li class="spacer"></li>
                            </if>
                            <if condition="$v['code'] eq 'alipay'">
                                <li>
                                    <a class="justclix" href="{:U('LoginApi/login',array('oauth'=>'alipay'))}" title="支付宝">
                                        <i class="judgp co_alipay"></i>
                                        <span>支付宝</span>
                                    </a>
                                </li>
                            </if>
                            <if condition="$v['code'] eq 'alipaynew'">
                                <li>
                                    <a class="justclix" href="{:U('LoginApi/login',array('oauth'=>'alipaynew'))}" title="支付宝">
                                        <i class="judgp co_alipay"></i>
                                        <span>支付宝</span>
                                    </a>
                                </li>
                            </if>
                        </tpshop>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--footer-e-->
<script type="text/javascript">
    var safelock = false;//安全锁,防止enter点击多次
    $(function(){
        $('.text_cmu').focus(function(){
            //焦点获取
            $(this).parents('.text_uspa').addClass('text_uspa_focus');
        })
        $('.text_cmu').blur(function(){
            //失去焦点
            $(this).parents('.text_uspa').removeClass('text_uspa_focus');
        })
    })

    function checkSubmit()
    {
        if (safelock) return;
        var username = $.trim($('#username').val());
        var password = $.trim($('#password').val());
        var referurl = $('#referurl').val();
        var verify_code = $.trim($('#verify_code').val());
        if(username == ''){
            go.errorTips('用户名不能为空!');
            return false;
        }
        if(!go.checkMobile(username) && !go.checkEmail(username)){
            go.errorTips('账号格式不匹配!');
            return false;
        }
        if(password == ''){
            go.errorTips('密码不能为空!');
            return false;
        }
        if(verify_code == ''){
            go.errorTips('验证码不能为空!');
            return false;
        }
        var layerindex = layer.load(1);//加载层
        safelock = true;
        $.ajax({
            type : 'post',
            url : '/index.php?m=Home&c=User&a=do_login&t='+Math.random(),
            data : $('#loginform').serialize(),
            dataType : 'json',
            success : function(res){
                layer.close(layerindex);
                if(res.status == 1){
                    $('.error-box .success-tips').show();
                    setTimeout(function(){window.location.href = res.url;}, 500);
                }else{
                    safelock = false;
                    go.errorTips(res.msg);
                    verify();
                }
            },
            error : function() {
                safelock = false;
                layer.close(layerindex);
                go.errorTips('网络失败，请刷新页面后重试');
            }
        })

    }

    function verify(){
        $('#verify_code_img').attr('src','/index.php?m=Home&c=User&a=verify&r='+Math.random());
    }

    //回车提交
    $(document).keyup(function(event){
        if (safelock) return;
        if(event.keyCode ==13){
            var isFocus=$("#verify_code").is(":focus");
            if(true==isFocus){
                checkSubmit();
            }
        }
    });
</script>