<div class="page-content">
    <div class="col-sm-6 pull-right">
        <span class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href='info'">
            添加
            <i class="icon-reply icon-only"></i>
        </span>
    </div>
    <div class="page-header">
        <h1>
            {:model('menu')->getName()} 
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12 table-box">
                    <table id="simple-table" class="table  table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="center">
                                    <label class="pos-rel">
                                        <input type="checkbox" class="ace" />
                                        <span class="lbl"></span>
                                    </label>
                                </th>
                                <th>序号</th>
                                <th>商品分类</th>
                                <th>商品名称</th>
                                <th>供应商</th>
                                <th>销售价</th>
                                <th>成本价</th>
                                <th>会员价</th>
                                <th>展示</th>
                                <th>管理员操作</th>
                            </tr>
                        </thead>

                        <tbody>
                            {volist name="rows" id="vo"}
                            <tr>
                                <td class="center">
                                    <label class="pos-rel">
                                        <input type="checkbox" class="ace" />
                                        <span class="lbl"></span>
                                    </label>
                                </td>
                                <td>{$vo.goods_id}</td>
                                <td>{$vo.cat_name}</td>
                                <td><a href="{:U('Home/goods/detail',['id'=>$vo.goods_id])}" target="_blank">{$vo.goods_name}</a></td>
                                <td>{$vo.supplier_name}</td>
                                <td>{$vo.sale_price}</td>
                                <td>{$vo.cost_price}</td>
                                <td><a href="{:U('Admin/goods/user_price_list',['id'=>$vo.goods_id])}" class="to-see">查看</a></td>
                                <td>{$vo.is_show_name}</td>
                                <td>
                                    <div class="btn-group">

                                        <a href='{:url("info","id=$vo[id]")}'> 
                                           <span class="btn btn-xs btn-info">
                                                <i class="ace-icon fa fa-pencil bigger-120"></i>
                                            </span>
                                        </a>

                                        <a href='javascript:void(0)' onclick="return alert_del('{:url(\"del\",\"id=$vo[id]\")}', '确认要删除『 id={$vo.id} 』这条记录吗？');">
                                           <span class="btn btn-xs btn-danger" >
                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                            </span>
                                        </a>

                                    </div>

                                </td>
                                
                            </tr>
                            {/volist}    
                        </tbody>
                    </table>
                    <div class="pagebox">{$rows->render()}</div>
                   
                </div><!-- /.span -->
            </div><!-- /.row -->
             
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->



