{include file="public/header"/}
<style type="text/css">
</style>
</head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
{include file="public/nav"/}
{include file="public/left"/}


<!-- 主体-->
<div class="layui-body">
    <div class="container">
        <div class="my-tab mb15">
            <ul>
                {volist name="data.catList" id="vo"}
                <a href="{:U('Home/order/index',['cid'=>$vo.cat_id])}">
                    <li class="{if condition='$vo.cat_id eq $Think.get.cid'}on{/if}" cat_id="{$vo.cat_id}">{$vo.cat_name}</li>
                </a>
                {/volist}
            </ul>
        </div>
        <div class="sub-tab goods-sub-tab mt20">
            <ul>
                {volist name="data.goodsRows" id="vo"}
                <a href="{:U('home/order/index', ['cid'=>$data.cat_id, 'gid'=>$vo.goods_id])}">
                    <li goods_id="{$vo.goods_id}" class="{if condition='$vo.goods_id eq $data.goods_id'}on{/if}">
                        {notempty name="$vo.icon"}<span class="iconfont {$vo.icon}"></span>{/notempty}
                        {$vo.goods_name}({$data.orderGoodsStat[$vo.goods_id]|default=0})
                    </li>
                </a>
                {/volist}
            </ul>
        </div>


        <div class="layui-form row-list table-box table-box-order">
          <table class="layui-table mt0">
            <colgroup>
              <col width="150">
              <col width="150">
              <col width="200">
              <col width="200">
              <col width="100">
              <col width="150">
              <col width="120">
            </colgroup>
            <thead>
              <tr>
                <th>订单编号</th>
                <th>产品名称</th>
                <th>目标</th>
                <th>实时状态</th>
                {if condition="$vo.supplier_id eq 5"}<th>详情</th><th>复制</th>{/if}
                <th>备注</th>
                <th>开始时间</th>
                <th>任务数量</th>
                <th>金额</th>
                <th>操作</th>
              </tr> 
            </thead>
            <tbody>
            {volist name="data.rows" id="vo"}
              <tr>
                <td>{$vo.order_sn}</td>
                <td>{$vo.goods.0.goods_name|default=''}</td>
                <td><a href="{$vo.url}" class="task_url omit" title="{$vo.url}" target="_blank">{$vo.url}</a></td>
                <td>{$vo.order_status_name}</td>
                {if condition="$vo.supplier_id eq 5"}
                <td>
                    {//只有comment_id大于0才说明有评论内容}
                    {if condition="$vo.comment_id gt 0"}
                    <a href="{:U('Home/tools/getTaskDetail',['id'=>$vo.order_id])}" class="task_url omit" target="_blank">查看</a>
                    {/if}
                </td>
                <td>
                    {if condition="$vo.comment_id gt 0"}
                    <span class="copy" onclick="go.copyComment({$vo.order_id})">复制</span>
                    {/if}
                </td>
                {/if}
                <td>{$vo.order_note}</td>
                <td>{$vo.stime|strtotime|date='Y-m-d H:i',###}</td>
                <td>{$vo.goods.0.goods_num*$vo.goods.0.unit|fnum=true,0}</td>
                <td>{$vo.total_amount|fnum}</td>
                <td class="my-opt">
                    {//['1'=>'已完成', '2'=>'待处理', '3'=>'处理中', '4'=>'暂停中', '5'=>'余额不足', '6'=>'已退款', '7'=>'已作废']}
                    {if condition="!empty($vo.task_status_value) and $vo.task_status_value neq '1' and $vo.supplier_id neq '5'"}
                        {if condition="$vo.task_status_value eq '4'"}
                        <span class="opt-set" order_id="{$vo.order_id}" type="continue" onclick="go.setOrder(this)">继续</span>
                        {elseif condition="$vo.task_status_value eq '3'"/}
                        <span class="opt-set" order_id="{$vo.order_id}" type="pause" onclick="go.setOrder(this)">暂停</span>
                        {/if}
                    {/if}
                    <span class="opt-set" order_id="{$vo.order_id}" onclick="go.getfeed(this)" type="1" tips="申请工单">申请工单</span>
                </td>
              </tr>
            {/volist}
            </tbody>
          </table>
          {$data.page->show()}
        </div>

    </div>
</div>
<!-- 主体END-->
<script>
$(function(){

});


layui.use(['form', 'layedit', 'laydate'], function(){
  var form = layui.form
  ,layer = layui.layer
  ,layedit = layui.layedit
  ,laydate = layui.laydate;
  
   //日期时间选择器
   laydate.render({
     elem: '#stime'
     ,type: 'datetime'
     ,format: 'yyyy-MM-dd HH:mm'
   });

    $('#task_num').keyup(function(){
        var totalAmount = '';
        var price = $.trim($('#sale_price').val());
        var task_num = $.trim($(this).val());
        task_num = parseInt(task_num);
        totalAmount = go.calcTotalAmount(task_num, price);
        $('.gs-price').text(totalAmount);
    });  
});

//设置订单
var params = {};
go.setOrder = function(dom){
    params.order_id = $(dom).attr('order_id');
    params.type = $(dom).attr('type');

    var noteText = $(dom).text();
    layer.confirm('确定要'+noteText+'操作吗?', function(){
        var layerindex = layer.load(1);//加载层
        $.ajax({
            type: 'POST',
            url: "{:U('home/order/setOrder')}",
            data: params,
            dataType: 'json',
            success: function(result){
                layer.closeAll();
                if (result.error == 1) {
                    go.errorTips(result.msg);
                } else {
                    go.successTips(result.msg);
                    setTimeout(function(){location.reload()}, 500);
                }
            },
            error: function(){
                layer.closeAll();
                layer.alert("服务器繁忙, 请联系管理员!");
            }
        });
    });

}
</script>


{include file="public/footer"/}
</div>
<!--layui-layout END-->
</body>
</html>