<div class="page-content">
    <div class="col-sm-6 pull-right">
        <button class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("index")}'">
            返回列表
            <i class="icon-reply icon-only"></i>
        </button>
    </div>

    <div class="page-header">
        <h1>
            {:model('menu')->getParentNname()}
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                {:input('user_id')?'编辑':'新增'}用户
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form" action="{:U('user/info')}"  method="post" name="myfrom" >
                <input type="hidden" value="{$row.user_id}" name="user_id">

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">手机号</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5"  name="mobile" value="{$row.mobile|default=''}"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">备注</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5"  name="note" value="{$row.note|default=''}"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">等级</label>
                    <div class="col-sm-9">
                        <select name="level">
                          {volist name="user_level" id="vo"}
                          <option value="{$key}" {if condition="$row.level eq $key"}selected{/if}>{$vo}</option>
                          {/volist}
                        </select>
                        <p class="notic">不同会员级别购买相同商品价格可能会不同</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">性别</label>
                    <div class="col-sm-9 pt5">
                        {:radio(['0'=>'保密', '1'=>'男', '2'=>'女'], $row['sex'], 'class="" name="sex"')}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">冻结账号</label>
                    <div class="col-sm-9 pt5">
                        {:radio(['1'=>'是', '0'=>'否'], $row['is_lock'], 'class="" name="is_lock"')}
                    </div>
                </div>

                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info mr30" type="button" onclick="myfrom.submit()">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            提交
                        </button>
                        <button class="btn" type="reset">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            重置
                        </button>
                    </div>
                </div>
            </form>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
