<div class="page-content">
    <div class="col-sm-6 pull-right">
        <span class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href='info'">
            添加
            <i class="icon-reply icon-only"></i>
        </span>
    </div>
    <div class="page-header">
        <h1>
            {:model('menu')->getName()} 
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12 table-box">
                    <table id="simple-table" class="table  table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="center">
                                    <label class="pos-rel">
                                        <input type="checkbox" class="ace" />
                                        <span class="lbl"></span>
                                    </label>
                                </th>
                                <th>序号</th>
                                <th>排序</th>
                                <th>会员账号</th>
                                <th>等级</th>
                                <th>余额</th>
                                <th>累计充值</th>
                                <th>累计消费</th>
                                <th>独享商品</th>
                                <th>设置商品</th>
                                <th>注册时间</th>
                                <th>状态</th>
                                <th>上次登录</th>
                                <th>管理员操作</th>
                            </tr>
                        </thead>

                        <tbody>
                            {volist name="rows" id="vo"}
                            <tr>
                                <td class="center">
                                    <label class="pos-rel">
                                        <input type="checkbox" class="ace" />
                                        <span class="lbl"></span>
                                    </label>
                                </td>
                                <td>{$vo.user_id}</td>
                                <td>
                                    <input type="text" onKeyUp="go.filterNum(this)" onpaste="go.filterNum(this)" onchange="go.changeTableVal('users','user_id','{$vo.user_id}','sort',this)" size="3" value="{$vo.sort|fnum=0}" reload="true" />
                                </td>
                                <td>
                                    {$vo.mobile}
                                    {if condition="$vo.note"}
                                    <span class="gray">
                                    ({$vo.note|default=''})
                                    </span>
                                    {/if}
                                </td>
                                <td><span class="level{$vo.level}">{$user_level[$vo.level]|default=''}</span></td>
                                <td>{$vo.user_money}</td>
                                <td>{$vo.user_total_money}</td>
                                <td>{$vo.total_money_use}</td>
                                <td>
                                    <a href="{:U('Admin/goods/user_price_list',['uid'=>$vo.user_id])}" class="to-see">查看独享商品({$vo.goods_user_num|default=0})</a>
                                </td>
                                <td>
                                    <a href="{:U('Admin/goods/set_user_goods',['uid'=>$vo.user_id])}" class="to-see">设置商品</a>
                                </td>
                                <td>{$vo.ctime}</td>
                                <td>{$vo.is_lock_name}</td>
                                <td>{$vo.last_login}</td>
                                <td>
                                    <div class="btn-group">
                                        <a href='javascript:;' title="充值" onclick="go.addmoney({$vo.user_id}, true)">
                                           <span class="btn btn-xs btn-success">
                                                <i class="ace-icon fa fa-money bigger-120"></i>
                                            </span>
                                        </a>

                                        <a href='javascript:;' title="重置密码" onclick="go.resetPassword({$vo.user_id})">
                                           <span class="btn btn-xs btn-danger">
                                                <i class="ace-icon iconfont icon-xiugaimima bigger-120"></i>
                                            </span>
                                        </a>

                                        <a href='{:url("user/info","user_id=$vo[user_id]")}' title="编辑查看"> 
                                           <span class="btn btn-xs btn-info">
                                                <i class="ace-icon fa fa-pencil bigger-120"></i>
                                            </span>
                                        </a>

                                        <a href='javascript:void(0)' onclick="return alert_del('{:url(\"del\",\"id=$vo[user_id]\")}', '确认要删除『 id={$vo.user_id} 』这条记录吗？');"  title="删除">
                                           <span class="btn btn-xs btn-default" >
                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                            </span>
                                        </a>

                                    </div>

                                </td>
                                
                            </tr>
                            {/volist}    
                        </tbody>
                    </table>
                    <div class="pagebox">{$page}</div>
                   
                </div><!-- /.span -->
            </div><!-- /.row -->
             
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->



